/* *{
    box-sizing: border-box;
} */

.card{
    width: 13rem;
        height: 28rem;
}

.mainCard{
    background-color: rgb(235, 235, 240);
 padding: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btns{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.img-top{
    height: 15rem;
}
#AddBook{
    justify-content: flex-end;
        align-items: flex-end;
        display: flex;
        padding: 10px;
}
.card-body{
    height: 10rem;
}