*{
    width: 100%;
}

.registerMain{
 padding: 10px;
 height: 100vh;
background-image:url(./images\ \(1\).jpg);
background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.contain{
    width: 40%;
    background-color: white;
display: flex;
padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#Lgn{
 margin-top: 10px;
}