
.price {
    font-size: 13px;
    font-weight: 700;
    padding: 3px;
}
.prc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head{
   display: flex;
   justify-content: space-between;
   width: 100%;
   background-color:#0B5ED7 ;
   opacity: 80%;
   color: white;
   padding: 15px; 
   border-radius: 15px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.Detail{
    display: flex;
        justify-content: space-between;
        width: 100%;
        padding: .2rem;
}
.bdetails{
    display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
}
.Date,.Bill{
    margin: 0;
    margin-bottom: 0.5rem;
}
.Bills{
   border: 1px solid rgb(136, 132, 132);
    width: 100%;
    padding: 10px;
}
.qty{
    width: 20%;
}
.desc{
    width:50%
}