

.containerp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
        background-color: #FEFEFE;
}

.containerc {
    background-image: linear-gradient(to bottom right, red, blue);
    padding: 25px;
    min-height: auto;
    color: white;
    
}

.form-text{
    color: white;
}
.form{
        margin-top: 5px;
        padding: 5px;
}
.form-text{
    text-align: center;
}
.dropdown{
    width: 50px;
    margin-bottom: 10px;
}
#btn{
    padding-left: 50px;
    padding-right: 30px;
}
#radiobtn{
    margin-bottom: 10px;
}
.lo{
    color: white;
}